<br><br>

<div class="row">
  <div class="col-6">
    <img src="assets\auto.jpg" class="card-img-top" alt="..." width="60%">
  </div>
  <div class="col-6">
    <p class="text-secondary">From vintage muscle cars to a luxurious Mercedes or the newest Lamborghini, people are passionate about cars. To capture everything from automotive advancements to car culture meetups, professional car photography has picked up speed to become an art of its own.</p> <p class="text-secondary"> It’s a love letter to rides and whips, a mix of product shots and ways to immortalise the space where crafts meets engineering.</p> <p class="text-secondary">Car photography can put you in the pits with beautiful machines and the like-minded people who love them.</p>
  </div>

</div>
