<br><br>


<div class="container my-5">
  <div class="row">
    <div class="col-md-5 text-center">
      <img src="https://images.unsplash.com/photo-1603574670812-d24560880210?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" class="img-fluid" style="" alt="">
    </div>
    <div class="col-md-6 pt-3">
      <h1 class="h2 mb-4" style="">About Me</h1>
      <p class="text-secondary">I’m an ardent Nature lover and a self-taught photographer from India, specialising in Wildlife and Nature Photography.I’m the 1st prize Winner of Natgeo Nature photographer of year 2016.</p>
      <p class="text-secondary">My works have been featured on Natgeo thrice and I have been on an expedition with Natgeo to Costa Rica and Panama as a result of winning a contest conducted by Natgeo in 2013. My photos have embellished book covers, jigsaw puzzles and the walls of several offices and homes.</p>
</div>

<br><br><br>
      <nav class="pagin">
      <ul class="pagination">
        <li class="prev page-item"><a class="page-link" routerLink="/home">Previous</a></li>
        <li class="page-item"><a class="page-link" routerLink="/home">1</a></li>
        <li class="page-item active"><a class="page-link" routerLink="/about">2</a></li>
        <li class="page-item"><a class="page-link" routerLink="/events">3</a></li>
        <li class=" next page-item"><a class="page-link" routerLink="/events">Next</a></li>
      </ul>
    </nav>
