<br><br><br>

<div class="row row-cols-1 row-cols-md-3 g-4 main-div">
<div class="col">
  <div class="card h-100">
    <img src="assets\arch.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Architectural Photography</h5>
      <p class="card-text">Architectural photography is the sub genre of the photography discipline where the primary emphasis is made to capturing photographs of buildings and similar architectural structures.</p>
    </div>
  </div>
</div>
<div class="col">
  <div class="card h-100">
    <img routerLink="/auto" src="assets\auto.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Automotive Photography</h5>
      <p class="card-text">From vintage muscle cars to a luxurious Mercedes or the newest Lamborghini, people are passionate about cars. To capture everything...</p>
      <a routerLink="/auto"><h6>read more...</h6></a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card h-100">
    <img src="assets\astro.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Astro Photography</h5>
      <p class="card-text">Astrophotography, also known as astronomical imaging, is photography or imaging of astronomical objects, celestial events, and areas of the night sky.</p>
    </div>
  </div>
</div>
<div class="col">
  <div class="card h-100">
    <img src="assets\street.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Street Photography</h5>
      <p class="card-text">Street photography, also sometimes called candid photography, is photography conducted for art or enquiry that features unmediated chance encounters and random incidents.</p>
    </div>
  </div>
</div>
<div class="col">
  <div class="card h-100">
    <img routerLink="/land" src="assets\landscape.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Landscape Photography</h5>
      <p class="card-text">It is the art of capturing pictures of nature and the outdoors in a way that brings your viewer into the scene. From grand landscapes to...</p>
      <a routerLink="/land"><h6>read more...</h6></a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card h-100">
    <img src="assets\wild.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Wildlife Photography</h5>
      <p class="card-text">Wildlife photography is a genre of photography concerned with documenting various forms of wildlife in their natural habitat.It may require stalking skills for concealment.</p>
    </div>
  </div>
</div>
</div>

<br><br>

<h1>This data is fetched from an http GET request</h1>

<div class="data" style="background-color:#eee">
  <!-- <table class="table">
    <thead>
      <tr>
        <th>Event Type</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of result">
        <td width=560px>{{list.type | uppercase}}</td>
        <td>{{list.location}}</td>
      </tr>
    </tbody>
  </table> -->
  <table class="table">
    <thead>
      <tr>
        <th>Event Type</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let user of allUser">
        <td width=560px style="color:#0062FF"><strong>{{user.type | uppercase}}</strong></td>
        <td style="color:#0033FF"><strong>{{ user.location | titlecase }}</strong></td>
      </tr>
    </tbody>
  </table>

</div>

<div class="dynamic">
  <form #myForm="ngForm">
    <label>Event Type</label>
    <input style="margin-right:8rem" type="text" name="type" ngModel>
    <!-- <button (click)="getVal(box.value)" class="btn-success event">Add Event</button> -->

    <label>Location</label>
    <input type="text" name="location" ngModel>

    <button type="button" name="button" class="btn-warning" (click)="addUser(myForm.value)">Add Event</button>
    <!-- <button (click)="getVal2(box2.value)" class="btn-success">Add Location</button> -->
  </form>

</div>

<nav class="pagin">
<ul class="pagination">
  <li class="prev page-item"><a class="page-link" routerLink="/about">Previous</a></li>
  <li class="page-item"><a class="page-link" routerLink="/home">1</a></li>
  <li class="page-item"><a class="page-link" routerLink="/about">2</a></li>
  <li class="page-item active"><a class="page-link" routerLink="/events">3</a></li>
  <li class=" next page-item"><a class="page-link" routerLink="/events">Next</a></li>
</ul>
</nav>
