<br><br><br>


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Photography Blog</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/96/000000/motorbike-helmet.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<body>

  <div class="text">
    <h1>“You don’t take a photograph, you make it.” <br>
      &nbsp; – Ansel Adams</h1>
  </div>

  <div class="page">
    <nav class="pagin">
    <ul class="pagination">
      <li class="prev page-item"><a class="page-link" routerLink="/home">Previous</a></li>
      <li class="page-item active"><a class="page-link" routerLink="/home">1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/about">2</a></li>
      <li class="page-item"><a class="page-link" routerLink="/events">3</a></li>
      <li class=" next page-item"><a class="page-link" routerLink="/about">Next</a></li>
    </ul>
  </nav>
  </div>


</body>

</html>
