<br><br>

<div class="row">
  <div class="col-6 image">
    <img src="assets\landscape.jpg" class="card-img-top img" alt="..." width="40%">
  </div>
  <div class="col-6">
    <p class="text-secondary">Landscape photography is the art of capturing pictures of nature and the outdoors in a way that brings your viewer into the scene. From grand landscapes to intimate details, the best photos demonstrate the photographer’s own connection to nature.</p> <p class="text-secondary">Below, you’ll find all the landscape photography articles we have written over the past decade, including our highly approachable tutorials and techniques.</p> <p class="text-secondary"> If you want to learn everything there is to know about taking beautiful landscape pictures, this is the place to start.</p>
  </div>

</div>
